@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Forum&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #536942;
    --secondary: #ffd936;
    --white: #efefef;
}
body {
    font-family:"DM sans",sans-serif;
    color: var(--primary);
}

.main_container{
    width: 100%;
    max-width: 1530px;
    margin: auto;
}

#main {
    background-image: url(./images/new\ background\ image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
    max-width: 1530px;
    margin: auto;
}

a {
    text-decoration: none;
}
.container {
    max-width: 1200px;
    padding: 16px;
    margin: auto;
}
section{
    margin: 80px auto;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-inline: 10px;
}
.navlist {
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
}
.navlist a {
    color: #ffffff;
}
.btn {
    padding: 11px 20px;
    background: transparent;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}
.btn-secondary {
    border:1px solid var(--white);
    color: var(--white);
    font-weight: bold;
}
.btn-primary {
    border: none;
    background-color: var(--secondary);
    color: var(--primary);
    font-weight: bold;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(80, 75, 75);
    margin-block: 60px;
}
.main-content .intro-heading {
    font-size: 50px;
    color: #ffffff;
}
.main-content .main-heading {
    font-size: 110px;
    margin-top: -20px;
    color: #ffffff;
}
.main-content p {
    max-width: 250px;
    margin-bottom: 10px;
    color: #ffffff;
}
.menu-btn {
    position: absolute;
    top: 40px;
    right: 20px;
    display: none;
    color: var(--white);
}

.section-title h1 {
    font-size: 50px;
    text-align: center;
}
.section-title .line {
    width: 150px;
    height: 4px;
    border: 10px;
    background-color: var(--secondary);
    margin: auto;
}

.services {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;

}
.service {
    width: 250px;
    gap: 16px;
    font-size: 25px;
}
.service p {
    font-size: medium;
}
.service img {
    max-width: 100%;
    border-radius: 5px;
    transition: transform 0.3s ease;
    margin-bottom: 15px;
}
.services h3 {
    font-size: 25px;
    margin-bottom: 10px;
}
.service img:hover {
    transform: scale(1.05);
}

#testimonial {
    background: rgb(219, 211, 211);
}
#testimonial .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    gap: 16px;
    padding: 50px 16px;
}
#testimonial h2 {

    font-size: 40px;
    font-family: 'forum', sans-serif;
    text-align: center;
}
#testimonial .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about-us .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}
#about-us .container .about-content {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: start;
}
#about-us .container .about-content h2 {
    font-size: 40px;
}
.about-content p {
    font-size: medium;
}

#questions {
    min-height: 500px;
    background-image:url(./images/question\ image.png);
    background-position: bottom center;
    background-size: cover;
}
#questions .container {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    height: 500px;
}
#questions h1 {
    font-size: 50px;
}
#questions .container p {
    text-align: center;
    font-size: medium;
}
.footer_container{
    margin-top: -70px;
}

 .footer_container {
    display: flex;
    padding: 40px 70px;
    justify-content: space-between;
    align-items: center;
    margin-inline: 20px;
}
.footerlinks {
    display: flex;
    align-items: center;
    gap: 16px;
    list-style: none;
}
.footerlinks a {
    color: var(--primary);
}

@media screen and (max-width:520px) {
    .menu-btn {
        display: block;
    }
    .navlist {
        display: none;
        flex-direction: column;
        background: gray;
        position: absolute;
        top: 0;
        right:0px;
        width: 60%;
        height: 110vh;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navlist.active{
        display: block;
        flex-direction: column;
        background: gray;
        position: absolute;
        top: 0;
        right:0px;
        width: 60%;
        height: 110vh;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navlist li:not(:last-child) {
        text-align: left;
        width: 100%;
        padding: 15px 20px;
        border-bottom: 1px solid var(--white);
    }
    .btn-secondary {
        margin: 10px;
    }
    #main .main-content .intro-heading{
        font-size: 25px;
    }
    #main .main-content .main-heading {
        font-size: 60px;
        padding-top: 10px;
    }
    #main .main-content p {
        font-size: 16px;
        text-align: center;
    }

    #services .section-title h1 {
        font-size: 35px;
    }
    .service h3 {
        font-size: 20px;
    }
    .service p {
        font-size: 18px;
    }

    #testimonial .container h2 {
        font-size: 25px;
    }

    #about-us .container .about-content h2 {
        font-size: 25px;
    }
    .about-content p {
        font-size: 18px;
    }
    #about-us .container {
        flex-direction: column;
        gap: 30px;
    }
    #about-us .btn-primary {
        align-self: center;
    }

    #questions .container h1 {
        font-size: 35px;
    }
    #questions .container p {
        font-size: 18px;
    }
    .footer_container {
        flex-direction: column;
        gap: 15px;
    }
    .footer_container p {
        text-align: center;
    }
}
